{% extends "blog/base.html" %}
{% load bootstrap_pagination %}
{% block title %}
  焦润涛博客 | 关于我
{% endblock %}
{% block path %}
  当前位置&nbsp;:&nbsp;<a href = "{% url 'home'%}">首页&nbsp;</a>»&nbsp;关于我
{% endblock %}
{% block content %}
  <div class="archive">
    <div id="archives">
      <h3 style="font-weight: bold">
        关于本站
      </h3>
      <blockquote>
        <p>1. Django框架开发个人博客，GitHub地址：<a href="https://github.com/runtaojiao/my-site">github</a><p>
        <p>2. 本站大部分文章是博主工作中遇到问题时，通过网络资源查找到的解决方法的总结记录，如有不当之处，请联系博主删除，敬请谅解！</p>
        <p>3. 本站建于 2019-06-01，已经运行 <span id="days" style="color:red;">0</span> 天。</p>
      </blockquote>
      <br/>

      <h3 style="font-weight: bold">
        关于我
      </h3>
      <blockquote>
        <p>1. 大家好，我是从事 Python Web + iOS 开发时长4年的程序猿。</p>
        <p>2. 喜欢唱、跳、RAP、篮球</p>
        <p>3. 🐔你太美</p>
      </blockquote>

      <br/>
      <h3 style="font-weight: bold">
        联系我
      </h3>
      <blockquote>
        <ul>
          <p><i class="fa fa-envelope-o"></i>&nbsp;邮箱：<a target="_blank" href="javascript:;">heavycross@163.com</a></p>
          <p><i class="fa fa-github"></i>&nbsp;GitHub：<a target="_blank" href="https://github.com/runtaojiao">github</a></p>
          <p><i class="fa fa-qq"></i>&nbsp;QQ： <a target="_blank" href="javascript:;">962069483</a></p>
          <p><i class="fa fa-weixin"></i>&nbsp;微信：<a href="javascript:;">jiao962069483</a></p>
        </ul>
      </blockquote>
    </div>
  </div>
  <!-- 评论框div -->
  <div id="vcomments" class="widget widget_recent_comments">
    <!-- 评论表单 -->
    {% include "blog/comment_form.html" %}
    <!-- 评论列表 -->
    {% include "blog/comment_list.html" %}
  </div>

  <script type="text/javascript">
    var s1 = '2019-06-01';  // 设置为你的建站时间
    s1 = new Date(s1.replace(/-/g, "/"));
    s2 = new Date();
    var days = s2.getTime() - s1.getTime();
    var number_of_days = parseInt(days / (1000 * 60 * 60 * 24));
    $("#days").html(number_of_days);
  </script>
  <script type="text/javascript" src="/static/js/comments.js"></script>
  <script type="text/javascript" src="/static/js/canvas-nest.js"></script>
{% endblock %}

{% block side %}
	{% include "blog/_side.html" %}
{% endblock %}
